@import '_variables';

.home-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  margin-top: 56px;
  margin-left: 30px
}

.cart {
  margin-top: 56px;
  margin-right: 30px;
}

.filter {
  margin-top: 10px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-cart,
.btn-checkout {
  background-color: rgb(12, 12, 12) !important;
  border: white !important;
  opacity: 0.8 !important;
  height: 100px;
  border-radius: 30px !important;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 24px !important;
  line-height: 29.05px;
  font-family: 'inter', sans-serif;
  font-weight: 100;
  color: rgb(251, 251, 251) !important;
  line-height: 38px;
  cursor: pointer;
}

.btn-cart {
  width: 500px;
}

.btn-checkout {
  width: 400px !important;
}

.btn-cart:hover,
.btn-checkout:hover {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  font-size: 28px !important;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 510px;
  height: 110px;
}

.custom-modal {
  width: 500px !important;
}

.mini-price {
  color: rgba(0, 0, 0, 1);
  opacity: 0.7;
  font-weight: 100;
  font-size: 20px;
  line-height: 24.2px;
}
.medium-price {
  color: rgba(0, 0, 0, 1);
  opacity: 0.7;
  font-weight: 100;
  font-size: 24px;
  line-height: 24.2px;
}
.large-price {
  color: rgba(0, 0, 0, 1);
  opacity: 0.9;
  font-weight: 100;
  font-size: 28px;
  line-height: 24.2px;
}
.total {
  font-weight: bolder;
  font-size: 18px;
}
.mini-text {
  color: $primary-color;
  font-weight: 100;
  font-size: 14px !important;
  line-height: 24.2px;
}

.dropdown-image {
  padding: 0 !important; 
  background: none !important;
  border: none !important;
}