@import '_variables';

.tite {
  font-family: 'CormorantGaramond';
}
.login-container {
  margin-top: 82px;  
  max-width: 100%;
  margin-right: 15px;
  padding: 0px;
  overflow-x: hidden;
}

.image-container {
  max-height: 100vh;
  max-width: 90%;
  display: flex;
  padding: 0px !important;
}
.image {
  max-width: 100%;
  height: auto;  
}
.btn-login {
  background-color: $primary-color !important;
  border: $primary-color !important;
  opacity: 1;
  width: 258px;
  height: 64px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: 200;
  size: 24;
  line-height: 29.05px;
  font-family: 'inter', sans-serif;;
}

.control{
  border: none !important;
  border-bottom: 1px solid #AFAFAF !important;
  border-radius: 0px !important;
  width: 230px !important;
  margin-top: 20px;
}
.control:focus {
  outline: none !important;
}
.border-red {
  border-color: $danger !important;
  color: red !important;
}
.border-red::placeholder {
  color: red !important;
}
.danger {
  color: $danger !important;
  white-space: nowrap;
}

